{{! Dashboard Comments  }}

<div class="dashboard-comment">

	<div class="dashboard-comment-date">
		{{date_created}}
	</div>

	<div class="comment-second-side">

		<div class="dashboard-comment-content">
			{{comment}}
		</div>
		<div class="dashboard-comment-post" value="{{post.id}}">
			Commented on the Post
			<a
				class="dashboard-comment-title"
				href="/dashboard/post/{{post.id}}"
			>{{post.title}}
			</a>
			by
			<span class="dashboard-comment-post-user">{{post.user.name}}</span>
		</div>

	</div>

</div>