{{! Dashboard Post  }}

<div class="dashboard-post" value="{{id}}">

	<div class="dashboard-post-date">
		{{date_created}}
	</div>
	<div class="second-side">
		<div class="dashboard-post-title">
			{{title}}
		</div>
		<div class="dashboard-post-content">
			{{content}}
		</div>
		<a href="/dashboard/post/{{id}}">View Post</a>
	</div>
	<i class="fa-solid fa-pen-to-square" value="{{user_id}}"></i>
</div>