<div class="page modify-post">
	<div class="container">

		<h1>Modify Post:
			<span
				class="selected-mod-post-title"
				value="{{post.id}}"
			>{{post.title}}</span></h1>

		<hr />

		<div class="selected-mod-post">
			<div class="selected-post-content">{{post.content}}</div>

			<div class="selected-post-right">
				<div
					class="selected-post-user"
					value="{{post.user_id}}"
				>{{post.user.name}}
				</div>
				<div class="selected-post-date">{{post.date_created}}</div>
			</div>
		</div>

		<hr />

		{{! Creating a new Post  }}

		<form class="container-sub mod-post">
			{{! Title  }}
			<label for="post title">Title:</label>
			<input
				placeholder="Update Title..."
				type="text"
				class="mod-dashboard-post-create-title"
				name="title"
				required
			/>
			{{! Content  }}
			<label for="post-message">Message:</label>
			<textarea
				name="updatePostMessage"
				type="text"
				id="updatePostMessage"
				placeholder="Message..."
				required
			></textarea>

			{{! Submit Button  }}
			<input type="submit" id="updatePostBtn" value="Submit!" class="btn" />
		</form>

	</div>
</div>