<div class="page modify-post">
	<div class="container">

		<h1>Modify Post:
			<span
				class="selected-mod-post-title"
				value="{{post.id}}"
			>{{post.title}}</span></h1>

		<hr />

		<div class="selected-mod-post">
			<div class="selected-post-content">{{post.content}}</div>

			<div class="selected-post-right">
				<div
					class="selected-post-user"
					value="{{post.user_id}}"
				>{{post.user.name}}
				</div>
				<div class="selected-post-date">{{post.date_created}}</div>
			</div>
		</div>
		<div class="dash-post-btns-container">
			<input type="button" id="editPostBtn" value="Edit" class="btn" />
			<input type="button" id="deletePostBtn" value="Delete" class="btn" />

		</div>

		<hr />

		{{! Creating a new Post  }}

		<form class="container-sub mod-post">
			{{! Title  }}
			<label for="post title">Update Title:</label>
			<input
				placeholder="{{post.title}}..."
				type="text"
				class="mod-dashboard-post-create-title"
				name="title"
				value="{{post.title}}"
				required
			/>
			{{! Content  }}
			<label for="post-message">Update Message:</label>
			<textarea
				name="updatePostMessage"
				type="text"
				id="updatePostMessage"
				placeholder="{{post.content}}..."
				required
			>{{post.content}}</textarea>

			{{! Submit Button  }}
			<input type="submit" id="updatePostBtn" value="Update" class="btn" />
		</form>

	</div>
</div>

<script src="/js/dashboard/dashboard.js"></script>
<script src="/js/dashboard/dashboardCalls.js"></script>