<div class="page post-page">
	<div class="container">
		<h1>Selected Post:

			<span class="post-page-selected-title">{{post.title}}</span></h1>
		<hr />
		{{! Selected Post  }}

		<div class="post-page-post">
			<div class="post-page-post-content">
				{{post.content}}
			</div>
			<div class="post-page-post-right">
				<div class="post-page-post-user">by: {{post.user.name}}</div>
				<div class="post-page-post-date"> {{post.date_created}}</div>
			</div>
		</div>

		<a href="/" class="post-page-go-back">Take Me Home</a>

		{{! Selected Post Comments  }}

		<h2>Comments: </h2>

		{{#if post.comments}}

			<div class="container-sub">

				{{#each post.comments as |comment|}}
					<div class="post-page-post-comment">

						<div class="post-page-post-comment-content">
							{{comment.comment}}
						</div>

						<hr />

						<div class="post-page-post-comment-user">{{comment.user.name}}</div>

						<div class="post-page-post-comment-date">
							{{comment.date_created}}
						</div>

					</div>
				{{/each}}
			</div>

		{{else}}

			<div class="post-page-no-comments">This post has no comments yet</div>

		{{/if}}
	</div>
</div>